!.nvmrc
!cartridges/bm_dcd/**/static/**/css
!cartridges/bm_dcd/**/static/**/js
!cartridges/plugin_dcd/**/static/**/css
!cartridges/plugin_dcd/**/static/**/js
!sfcc-dcd.code-workspace
.idea/
node_modules
