!.nvmrc
!cartridges/bm_housekeeping/**/static/**/css
!cartridges/bm_housekeeping/**/static/**/js
!cartridges/plugin_housekeeping/**/static/**/css
!cartridges/plugin_housekeeping/**/static/**/js
!sfcc-housekeeping.code-workspace
.env
.idea/
node_modules
